.body1 
{
    font-family: 'Montserrat', sans-serif;
    background: url('../img/tlo.jpg');
    background-size: cover;   
    margin: 0;
    min-height: 5000px;
}

.logo
{
   width: 15%;
   display: inline-block;
   text-align: center; 
}

header 
{
    width: 100%;
    position: absolute;
    margin-top: 50px;
}

nav
{
    width: 80%;
    display: inline-block;
    text-align: right;
    color: white;
}

.nav-item
{
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
}

a:link
{
color: white;
text-decoration: none;
}

a:visited
{
color: white;
text-decoration: none;
}

.ja
{
    height: 400px;
    padding-top: 200px;
}

.zdjecie
{
    float: left;
    width: 50%;
    padding-top: -50px;
    text-align: center;
}

.text
{
    float: left;
    width: 49%;
    text-align: center;
    color: white;
}
.info
{
    width: 50%;
}
.info h1
{
    font-size: 40px;
}


.projekty
{
    height: 600px;
    padding-top: 200px;
    color: white;
    text-align: center;
}
.bloki h1
{
    font-size: 40px;
}
.projekt-item
{
display: inline-block;
padding: 50px;
}

.kto
{
    height: 500px;
    padding-top: 200px;
    color: white;
    text-align: center;
}
.kto-item
{
    display: inline-block;
    padding: 50px;
}
.praca h1
{
    font-size: 40px;
}

.cennik
{
    height: 600px;
    padding-top: 365px;
    text-align: center;
    color: white;
}
.cena-item
{
    display: inline-block;
    width: 50%;
}
.cena h1
{
    font-size: 40px;
}

.stopka
{
    height: 600px;
    padding-top: 280px;
    color: black;
    text-align: center;
}
.kontakt-item
{
    padding: 50px;
    display: inline-block;
    width: 10%;
}
.kontakt h1
{
    font-size: 40px;
}

.body2 
{
    font-family: 'Montserrat', sans-serif;
    background: url('../img/tlo2.jpg');
    background-size: cover;   
    margin: 0;
    min-height: 5000px;
}

.body3 
{
    font-family: 'Montserrat', sans-serif;
    background: url('../img/tlo3.jpg');
    background-size: cover;   
    margin: 0;
    min-height: 5000px;
}

.body4 
{
    font-family: 'Montserrat', sans-serif;
    background: url('../img/tlo4.jpg');
    background-size: cover;   
    margin: 0;
    min-height: 5000px;
}

html
{
    scroll-behavior: smooth;
}